/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
.footer {
  width: 100%;
  background: #2c373e;
  color: #fff;
  padding: 55px 0 43px;
  position: relative;
  z-index: 9;
  text-align: center; }

.ico-github {
  font-size: 36px;
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px; }
  .ico-github:hover, .ico-github:active, .ico-github:focus {
    color: #fff; }

.followMeWrapper .ico-social {
  float: left;
  position: relative;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

.followMeWrapper .emailContact {
  clear: both;
  display: block;
  margin: 9px 0;
  font-size: 16px; }
  .followMeWrapper .emailContact a {
    color: #fff; }
    .followMeWrapper .emailContact a:hover {
      color: #f09789; }

.listSocial {
  list-style: none;
  padding: 0;
  margin-bottom: 20px; }
  .listSocial li {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px; }
    .listSocial li:last-child {
      margin-right: 0; }

.newsletterWrapper .form-control {
  width: 100%;
  min-width: 296px;
  border-radius: 25px;
  font-size: 16px;
  height: 51px;
  padding: 12px 55px 11px 19px;
  border: none;
  outline: none;
  color: #232323; }
  .newsletterWrapper .form-control:focus {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .newsletterWrapper .form-control::-moz-placeholder {
    color: #232323; }
  .newsletterWrapper .form-control::-webkit-input-placeholder {
    color: #232323; }
  .newsletterWrapper .form-control:-ms-input-placeholder {
    color: #232323; }

.newsletterWrapper .form-control[placeholder] {
  text-overflow: ellipsis; }

.btn-sendEmail {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: auto;
  left: auto;
  z-index: 1;
  background-color: #af1920;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  box-shadow: none; }
  .btn-sendEmail i {
    font-size: 21px;
    margin: 8px 0;
    display: inline-block; }
  .btn-sendEmail:hover {
    background-color: #f09789; }

.input-newsLetter {
  position: relative;
  display: inline-block; }

.alertContainer {
  text-align: center;
  width: 100%;
  max-width: 410px;
  margin: 20px auto 0; }
  .alertContainer .alert-danger {
    background: #af1920;
    color: #ffffff;
    border-color: #af1920; }
  .alertContainer .alert-success {
    background: #029C3E;
    color: #ffffff;
    border-color: #029C3E; }

.no-touchevents .followMeWrapper .ico-social:hover {
  transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px); }

.footerLinks ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .footerLinks ul li {
    display: inline-block;
    position: relative;
    padding: 0 12px 5px; }
    .footerLinks ul li:after {
      content: '';
      height: 12px;
      width: 1px;
      background: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 4px;
      right: 0;
      bottom: auto;
      left: auto;
      z-index: 1; }
    .footerLinks ul li:last-child {
      padding-right: 0; }
      .footerLinks ul li:last-child:after {
        display: none; }
    .footerLinks ul li a {
      color: #ffffff;
      font-size: 16px; }
      .footerLinks ul li a:hover {
        color: #f09789; }

.footerCredit {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  margin-top: 65px; }
  .footerCredit i {
    margin: 0 1px;
    color: #af1920; }

@media (min-width: 992px) {
  .footer {
    padding: 83px 0 29px; }
  .followMeWrapper .emailContact {
    display: inline-block;
    margin: 0; }
  .listSocial {
    margin-bottom: 10px; }
  .newsletterWrapper .form-control {
    width: 410px; }
  .footerLinks {
    display: inline-block;
    margin-left: 10px; }
    .footerLinks ul li:after {
      top: 7px; }
    .footerLinks ul li:first-child:before {
      content: '';
      height: 12px;
      width: 1px;
      background: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 7px;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 1; }
  .footerCredit {
    margin-top: 86px; } }
