/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
.crowdfundSection {
  color: #fff;
  padding-top: 44px;
  padding-bottom: 110px;
  position: relative; }
  .crowdfundSection .bgImage {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 0; }
  .crowdfundSection .graphicBG {
    min-height: 180px;
    min-width: 100%;
    max-width: none;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 0; }

.crowdfundContainer {
  text-align: center;
  margin-bottom: 45px; }
  .crowdfundContainer p {
    line-height: 36px; }

.crowdfundRightCol .crowdfundContainer {
  margin-bottom: 0; }

.crowdfundTitle {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase; }

@media (min-width: 992px) {
  .crowdfundSection {
    padding-top: 104px;
    padding-bottom: 109px; }
    .crowdfundSection .graphicBG {
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      width: 100%;
      height: auto; }
  .crowdfundTitle {
    margin-bottom: 69px; }
  .crowdfundTitle:after {
    content: '\00a0';
    background: url(../images/title-line-bg.png) no-repeat -100px -20px;
    width: 1160px;
    height: 139px;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .crowdfundContainer {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .crowdfundTitle:after {
    background-position: center -20px; } }
