/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
.o-link {
  text-transform: none;
  color: #af1920; }
  .o-link:hover {
    text-decoration: underline;
    color: #af1920; }

.o-signPlus {
  width: 17px;
  height: 17px;
  background: #af1920;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -7px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .o-signPlus i {
    margin-top: 4px;
    display: inline-block; }
  @media (min-width: 992px) {
    .o-signPlus {
      width: 36px;
      height: 36px;
      font-size: 17px;
      bottom: -17px; }
      .o-signPlus i {
        margin-top: 9px; } }
