/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
.o-link {
  text-transform: none;
  color: #af1920; }
  .o-link:hover {
    text-decoration: underline;
    color: #af1920; }
